* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins, sans-serif;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 2px green solid;
}

ul.topnav li {
    float: right;
}
ul.topnav li:first-child{
    margin-right: 30px;
}

ul.topnav li a {
    display: inline-block;
    padding: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    line-height: 50px;
}

ul.topnav li a:hover {
    color: green;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:786px) {

    ul.topnav li,
    ul.topnav.responsive .menu,
    ul.topnav.responsive .search,
    ul.topnav.responsive li img {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {
        position: fixed;
    }

    ul.topnav.responsive li.icon {
        position: fixed;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav li a {
        display: block;
        text-align: left;
    }
}
.logo{
    float: left;
    font-size: 40px;
    font-family: aardvark cafe;
    color: green;
    margin: 15px 50px;
}
@media(max-width: 960px){.konten{
    margin: 50px;
    text-align: justify;
}
}
@media(min-width:960px){.konten{
    margin: 40px 190px 120px;
    column-count: 2;
    text-align: justify;
    text-indent: 30px;
}
}


@media(min-width:960px){h3{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
}
@media(min-width:960px){hr{
    width: 50%;
}
}
@media(max-width:960px){h3{
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}
}
@media(max-width:960px){hr{
    width: 50%;
}
}



.picture{
    width: 100%;
}
.picture img{
    width: 100%;
    height: auto;
}
.parallax {
  background-image: url('../gambar/par.jpg');
  height: 50%; 
  background-attachment: fixed;
  background-size: cover;
}



@media(min-width:960px){.pupuk{
    margin-left: 10%;
    overflow: auto;
}
}
@media(min-width:960px){.pupuk .ppk{
    float: left;
    width: 25%;
    margin: 30px 35px 50px;
}
}
@media(min-width:960px){.pupuk img{
    width: 100%;
    margin: 10% auto;
}
}
@media(max-width: 960px){.pupuk{
    margin: 50px;
    overflow: auto;
    text-align: justify;
}
}
@media(max-width: 960px){.pupuk img{
    margin: 50px 50px 50px 100px;
    width: 60%;
    border-radius: 20%;
}
}




@media(min-width:960px){.kiri{
    margin: 40px 190px;
    column-count: 2;
    text-align: justify;   
}
}
@media(min-width:960px){.kiri img{
    width: 50%;
    margin: 20px;
    border-radius: 100%; 
    margin-right: 50%;
}
}
@media(min-width:960px){.kiri p{
    text-align: justify;
    font-size: 1em;
}
}
@media(min-width:960px){.kanan{
    margin: 40px 190px;
    column-count: 2;
    text-align: justify;   
}
}
@media(min-width:960px){.kanan img{
    width: 50%;
    border-radius: 100%; 
    margin-left: 50%;
}
}
@media(min-width:960px){.kanan p{
    text-align: justify;
    font-size: 1em;
}
}
@media(max-width: 960px){.kiri{
    margin:50px;
    text-align: justify;
}
}
@media(max-width: 960px){.kiri img{
    width: 50%;
    margin:50px 50px 50px 130px;
    border-radius: 100%;
}
}
@media(max-width: 960px){.kanan{
    margin:50px;
    text-align: justify;
}
}
@media(max-width: 960px){.kanan img{
    width: 50%;
    margin:50px 50px 50px 130px;
    border-radius: 100%;
}
}



img.zoom {
    overflow: auto;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
.transisi {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}



.sosial{
    text-align: center;
    background-color: grey;
    color: white;
    height: 50;
    position: relative;
    bottom: 0;
}
.sosial img{
    width: 25px;
    margin: 10px 15px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 100;
    line-height: 100px;
    position: relative;
}