*{
    margin: 0px;
    padding: 0px;
}
    
.logo{
    float: left;
    font-size: 40px;
    font-family: aardvark cafe;
    color: white;
    margin: 15px 50px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color:  #13DE28;
}
ul.topnav li {
	float: right;
}
ul.topnav li a {
    line-height: 55px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
}
ul.topnav li a:hover {
	color: yellow;
}
ul.topnav li.icon {
	display: none;
}
@media screen and (max-width:680px) {
  ul.topnav li {
      display: none;
      
 }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    padding-right: 15px;
  }
    
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 15px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    line-height: 20px;
  }
    ul .logo.responsive{display: none;}
}
    ul .topnav li a:hover:not(.active) {
    color:#f1f522;
}
.active {
    color:#000;
    padding-right: 60px;
}

    
    
    
.center {
  width: 350px;
  height: auto;
  margin-left: 10%;
  margin-top: 100px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 16px 0px #757575;
  padding: 40px;
    float: left;
}

.center h2 {
  font-size: 35px;
  color: #000000;
  padding-bottom: 40px;
}

.itpw {
  width: 92%;
  padding: 13px 10px;
  margin: 5px 0px;
  background-color: #dbdbdb;
  border: 3px solid #dbdbdb;
  color: #757575;
}

.its {
  width: 48%;
  font-size: 19px;
  color: #f5f5f5;
  padding: 12px;
  margin: 5px 3.5px;
  background-color: #004d40;
  border: none;
}

.its:hover , .its:focus {
  opacity: 0.7;
  cursor: pointer;
}
img{
        float: left;
        width: 320px;
        margin: 10% 15%;
}